{
    "env": {
    "es6": true,
    "node": true
    },
    "parserOptions": {
    "ecmaVersion": 2022
    },
    "extends": "eslint:recommended",
    "rules": {
    "indent": ["error", 2],
    "semi": ["error", "always"],
    "no-multi-spaces": "error",
    "no-trailing-spaces": "error",
    "eol-last": "error"
    },
    "parserOptions": {
    "sourceType": "module"
    }
    }